{{ define "main" }}
<article class="mb-16 max-w-5xl mx-auto px-4 prose lg:prose-lg prose-blue dark:prose-dark">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
</article>

{{ if .Params.comments_enabled }}
<article class="mt-16 mb-10 max-w-5xl mx-auto px-4 prose lg:prose-lg prose-blue dark:prose-dark">
  <script
    src="https://giscus.app/client.js"
    data-repo="cosmotek/cosmotek.github.io"
    data-repo-id="MDEwOlJlcG9zaXRvcnkyMzc4NDAxMDQ="
    data-category="General"
    data-category-id="DIC_kwDODi0m6M4CSaG1"
    data-mapping="url"
    data-strict="1"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</article>
{{ end }}
{{ end }}
