[submodule "myblog/themes/sam"]
	path = myblog/themes/sam
	url = https://github.com/victoriadrake/hugo-theme-sam.git
[submodule "public"]
	path = public
	url = git@github.com:cosmotek/cosmotek.github.io.git
	branch = master
